<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.upb.cs.brocoli">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- required for nearby connection for the peer to peer strategy : STAR -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <service android:name="de.upb.cs.io.github.freelon.brocoli.library.NetworkService" />
        <service
            android:name="de.upb.cs.io.github.freelon.brocoli.library.LogUploadJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name="de.upb.cs.io.github.freelon.brocoli.ui.activities.DebugActivity" />
        <activity android:name="de.upb.cs.io.github.freelon.brocoli.ui.activities.MessageDetailsActivity"></activity>
        <activity android:name="de.upb.cs.io.github.freelon.brocoli.ui.activities.AckDetailsActivity"></activity>
    </application>

</manifest>
